@import '~antd/dist/antd.css';

h4 {
    color: white;
    font-weight: bold
  }
  
  .Login-page{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height:100vh;
      /* background-image: url('/images/flat01.png'); */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
  
      }
  
  .Login-input{
    margin: 15px;
    width: 500px;
  }
  
  .Sign {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 15px;
      border-radius: 0%;
      border-color: white;
      background-color: white;
      margin: 40px;
  }
  
  .Sign .Login-input{
    width: 250px;
  }
  
  .HomeThemes{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
  }
  
  .Banner {
    height: 80px;
    /* background-image: url('/images/flat01.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  }
  
  .Card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  
a {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #0F6157;
  /* border-bottom: 1px solid #0F6157; */
}
a > img {
  margin-right: 5px;
}
a:hover{
  text-decoration: underline;
}
